{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Presupuestos
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Presupuestos</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha de emisión</th>
                    <th>Fecha de expiración</th>
                    <th>Estado</th>
                    <th>Vendedor asociado</th>
                    <th>Sucursal asociada</th>
                    <th>Total</th>
                    
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for presupuesto in object_list %}
                <tr>
                    <td></td>
                    <td>{{ presupuesto.fecha_emision }}</td>
                    <td>{{ presupuesto.fecha_expiracion }}</td>
                    <td>{{presupuesto.estado}}</td>
                    <td>{{ presupuesto.vendedor_asociado}}</td>
                    <td>{{ presupuesto.sucursal_asociada}}</td>
                    <td>{{ presupuesto.total}}</td>                    

                    {% if user.rol.opciones == 'SUPERVISOR' or user.rol.opciones == 'VENDEDOR' or user.is_staff %}
                    <td>
                        <a href="{% url 'presupuestos:eliminar_presupuesto' presupuesto.pk %}" class="btn btn-danger">
                            Eliminar </a>
                    </td>
                    {% endif %}
                    {% if presupuesto.estado.opciones == 'EN EVALUACION' and user.rol.opciones == 'VENDEDOR' or user.is_staff %}
                    <td>
                        <a href="{% url 'presupuestos:registrar_itempresupuesto' presupuesto.sucursal_asociada.id  presupuesto.pk %}" class="btn btn-primary">
                            Agregar item </a>
                    </td>
                    {% else %} 
                    <td>
                        <a class="btn btn-secondary">Agregar item </a>
                    </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'presupuestos:listar_itemspresupuesto' presupuesto.pk %}" class="btn btn-warning">
                            Ver detalle </a>
                    </td>
                    
                    {% if presupuesto.estado.opciones == 'EN EVALUACION' and user.rol.opciones == 'VENDEDOR' or user.is_staff %}
                        <td>
                            <a href="{% url 'presupuestos:rechazar_presupuesto' presupuesto.pk %}" class="btn btn-danger">Rechazar presupuesto</a>
                        </td>
                        <td>
                            <a href="{% url 'presupuestos:aprobar_presupuesto' presupuesto.pk %}" class="btn btn-success">Aprobar presupuesto</a>
                        </td>
                    {% else %}
                        
                        <td>
                            <a class="btn btn-secondary">Rechazar presupuesto</a>
                        </td>
                        <td>
                            <a class="btn btn-secondary">Aprobar presupuesto</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <h5>No hay presupuestos registrados. </h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>


{% endblock %}