{% extends 'index.html' %}
{% load widget_tweaks %}

{% block title %} Registro de Medios de Pago {% endblock title %}


{% block content %}

<div class="card">
    <div class="card-header">
        <strong class="card-tittle">Registro de Medios de Pago</strong>
    </div>

    <div class="card-body">
        <form class="user" method="post">
            {% csrf_token %}
            {% for field in form %}
            {{field.label_tag}}

            <div class="form-group">
                {% render_field field class="form-control form-control-user" %}

                {% endfor %}

            </div>

            <div class="">
                <a href="{% url 'mdps:listar_mdps' %}" class="btn btn-danger"> Cancelar </a>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}