{% extends 'index.html' %}
{% load widget_tweaks %}

{% block title %} Eliminar Medio de Pago {% endblock title %}


{% block content %}
<div class="card">
    <div class="card-header">
        <strong class="card-tittle">Eliminar Medio de Pago: {{object}}</strong>
    </div>

    <div class="card-body">
        <form class="user" method="post">
            {% csrf_token %}
            <div class="form-group">
                <h1>¿Desea eliminar el medio de pago {{object}}?</h1>
                <a href="{% url 'mdps:listar_mdps' %}" class="btn btn-danger"> Cancelar </a>
                <button type="submit" class="btn btn-primary">Eliminar</button>
            </div>
        </form>
    </div>
    {% endblock %}