{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Medios de Pago
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Medios de Pago</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>

                    <th>#</th>
                    <th>Medio de Pago</th>
                    

                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for mdp in object_list %}
                <tr>
                    <td>{{mdp.id}}</td>
                    <td>{{ mdp.tipo_de_pago}}</td>
                   

                    <td>
                        <a href="{% url 'mdps:eliminar_mdp' mdp.pk %}" class="btn btn-danger"> Eliminar
                        </a>
                        <a href="{% url 'mdps:editar_mdp' mdp.pk %}" class="btn btn-primary"> Editar
                        </a>

                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h5>No hay Medios de Pago registrados </h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>
{

{% endblock %}