{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Usuarios
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Usuarios</strong>
        </div>
    </div>
    <div style="text-align:center"><a type="button" class="btn btn-info" href="/admin/usuario/rol/add/"> AGREGAR ROL</a>
    </div>
    <p></p>
    <div style="text-align:center"><a type="button" class="btn btn-info" href="/admin/auth/group"> GESTIONAR
            PERMISOS</a></div>


    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>

                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Domicilio</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Cuit</th>
                    <th>Telefono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for usuario in object_list %}
                <tr>

                    <td>{{ usuario.username }}</td>
                    <td>
                        {{ usuario.nombre }}
                    </td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.calle}}, {{ usuario.numero}}, {{ usuario.localidad}}, {{ usuario.provincia}}, {{ usuario.cod_postal}}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.rol}}</td>
                    <td>{{usuario.estado}}</td>
                    <td>{{ usuario.cuit }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>
                        
                        <a href="{% url 'usuarios:actualizar_usuario' usuario.pk %}" class="btn btn-primary"> Editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h5>No existen usuarios registrados</h1>
                {% endif %}

            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}