{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Cuentas Corriente
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card" style="margin:2%">
        <div class="card-header text-center">
            <strong class="card-title">Listado de Cuentas Corriente</strong>
        </div>
    

    <div class="table-stats order-table ov-h bg-gray-100">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Número de cuenta</th>
                    <th>Proveedor</th>
                    <th>Estado</th>
                    
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for cuenta in object_list %}
                <tr>
                    <td></td>
                    <td>{{ cuenta.numero_cuenta }}</td>
                    <td>{{ cuenta.proveedor }}</td>
                    <td>{{ cuenta.estado}}</td>
                    

                    
                    <td>
                        <a href="{% url 'proveedores:cambiar_estado_cuenta' cuenta.numero_cuenta %}" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                              </svg>
                            Inhabilitar </a>
                        <a href="{% url 'proveedores:ver_registro' cuenta.numero_cuenta %}" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg>
                            Ver registro </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h5>No hay cuentas corriente registradas :( </h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>

{% endblock %}