{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Proveedores
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Proveedores</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>

                    <th>Razón Social</th>
                    <th>Cuit</th>
                    <th>Domicilio</th>
                    <th>Email</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for proveedor in object_list %}
                <tr>

                    <td>{{ proveedor.razon_social }}</td>
                    <td>{{ proveedor.cuit }}</td>
                    <td>{{ proveedor.calle}}, {{ proveedor.numero}}, {{ proveedor.localidad}}, {{ proveedor.provincia}}, {{ proveedor.cod_postal}}</td>
                    <td>{{proveedor.email}}</td>
                    <td>{{ proveedor.telefono }}</td>

                    <td>
                        <a href="{% url 'proveedores:eliminar_proveedor' proveedor.pk %}" class="btn btn-danger">
                            Eliminar </a>
                        <a href="{% url 'proveedores:actualizar_proveedor' proveedor.pk %}" class="btn btn-primary">
                            Editar </a>

                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h5>No hay proveedores registrados :( </h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>


{% endblock %}