{% extends 'index.html' %}
{% load widget_tweaks %}

{% block title %} Agregar Item {% endblock title %}


{% block content %}

{% if lista %}
<div class="card">
    <div class="card-header">
        <strong class="card-tittle">Agregar Items a la venta</strong>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Unidad de medida</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                <tr>
                    <td id="{{item.id}}" class="items">{{ item.id}}</td>
                    <td id="{{item.id}}nombre">{{ item.nombre }}</td>
                    <td id="{{item.id}}precio">{{ item.precio }}</td>
                    <td>{{ item.unidad }}</td>
                    <td hidden id="{{item.id}}sucursal">{{ item.sucursal.id }}</td>
                    <td hidden id="{{item.id}}venta">{{item.venta}}</td>
                    
                    
                    

                    
                    <td>
                        <input value="0" type="Integer" class="form-control-user" id="{{item.id}}cantidad_solicitada" placeholder="Ingrese la cantidad"> 
                    </td>
                    
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    
</div>
<div class="text-center">
              
    <button type="submit" onclick="AgregarItem()" class="btn btn-primary">Agregar items</button>   
 </div>
</div>

<div class="text-center">
    <a href="{% url 'ventas:listar_ventas' %}" class="btn btn-info"> Volver </a>
    
</div>

{% else %}
<h1>La sucursal no tiene items :c </h1>
{% endif %}
            
        

<script>

function AgregarItem() {
        
      
        let items = [];


        for(item of document.getElementsByClassName("items")){

            let item_obtenido = document.getElementById(item.id).innerText;
            let item_nombre = document.getElementById(item.id+"nombre").innerText;
            let cantidad_obtenida = document.getElementById(item.id+"cantidad_solicitada").value;
            let sucursal_obtenida = document.getElementById(item.id+"sucursal").innerText;
            let venta_obtenida = document.getElementById(item.id+"venta").innerText;
            let precio_obtenido = document.getElementById(item.id+"precio").innerText;

            let objeto = '{"item":"' + item_obtenido + '","cantidad":"' + cantidad_obtenida + '","sucursal":"' + sucursal_obtenida + '","venta":"' + venta_obtenida + '","precio":"' + precio_obtenido + '"}'
            console.log(JSON.parse(objeto).sucursal)
            items.push(objeto)
            
        }
        peticion_ajax(items)
}

function peticion_ajax(lista){

let csrftoken = getCookie('csrftoken');
console.log(lista)
$.ajax({
type: "POST",
url: "1/AgregarItem/", 
data:{
    csrfmiddlewaretoken : csrftoken, 
    items: JSON.stringify(lista),
},
dataType: "text",
success: function(data) {
    // location.reload()
    Swal.fire({
                "title": "Acción realizada",
                "text": data,
                "icon": "info",
            })
console.log(data)

},
error: function( jqXHR, textStatus, errorThrown ) {

    if (jqXHR.status === 0) {

        alert('Error al intentar Conectarse: Verifique su conexion a Internet.');

    } else if (jqXHR.status == 404) {

        alert('La Pagina solicitada no fue encontrada [404]');

    } else if (jqXHR.status == 500) {

        alert('Erro Interno [500]');

    } else if (textStatus === 'parsererror') {

        alert('Error en el retorno de Datos. [parseJson]');

    } else if (textStatus === 'timeout') {

        alert('Tiempo de Espera agotado');

    } else if (textStatus === 'abort') {
        alert('Solicitud Abortada. [Ajax Request]');

    } else {
    
        ErrorGeneral()
         
         

    }//end if 

}//end error
}); 
}


        function getCookie(name) {

            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            
            return cookieValue;

        }

        function ErrorGeneral() {
            
            Swal.fire({
                "title": "Ups",
                "text": "Ha ocurrido un error.",
                "icon": "error",
            })

        }
    

</script>


{% endblock %}