{% extends 'index.html' %} 
{% load widget_tweaks %}

{% block title %} Eliminar Venta {% endblock title %}


{% block content %} 
<div class="card">
    <div class="card-header">
        <strong class="card-tittle">Eliminar Venta: {{object}}</strong>
    </div>

    <div class="card-body">
    <form class="user" method = "post">
        {% csrf_token %}
        <div class="form-group">
            <h1>¿Desea eliminar la venta {{object}}?</h1>
        <a href ="{% url 'ventas:listar_ventas' %}" class="btn btn-danger"> Cancelar </a>
        <button type="submit" class="btn btn-primary">Eliminar</button>
    </div>
    </form>   
</div>
{% endblock %}

