{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Ventas
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Ventas</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Número de comprobante</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Vendedor</th>
                    <th>Sucursal</th>
                    <th>Medio de pago</th>
                    <th>Estado</th>
                    <th>Tipo de venta</th>
                    <th>Monto de cliente</th>
                    <th>Moneda</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for venta in object_list %}
                <tr>
                    <td></td>
                    <td>{{ venta.numero_comprobante }}</td>
                    <td>{{ venta.fecha }}</td>
                    <td>{{ venta.cliente_asociado }}</td>
                    <td>{{ venta.vendedor_asociado }}</td>
                    <td>{{ venta.sucursal_asociada }}</td>
                    <td>{{ venta.mediodepago }}</td>
                    <td>{{ venta.estado}}</td>
                    <td>{{ venta.tipo_de_venta }}</td>
                    <td>{{ venta.monto_ingresado}}</td>
                    <td>{{ venta.tipo_de_moneda}}</td>

                    {% if venta.tipo_de_moneda.opciones == 'DOLAR' %}
                    <td>${{ venta.total_dolar}}</td>
                    {% elif venta.tipo_de_moneda.opciones == 'EURO' %} 
                    <td>€{{ venta.total_euro}}</td>
                    {% else %}
                    <td>${{ venta.total_peso}}</td> 
                    {% endif %}

                    {% if user.rol.opciones == 'VENDEDOR' or user.is_staff or user.rol.opciones == 'CAJERO'%}
                    <td>
                        <a href="{% url 'ventas:eliminar_venta' venta.numero_comprobante %}" class="btn btn-danger">
                            Eliminar </a>
                    </td>
                    {% endif %}
                    {% if user.rol.opciones == 'VENDEDOR' or user.is_staff %}
                    {% if venta.estado.opciones == 'EN PREPARACION' %}  
                    <td>
                        <a href="{% url 'ventas:registrar_itemventa' venta.sucursal_asociada.id  venta.numero_comprobante %}" class="btn btn-primary">
                            Agregar item </a>
                    </td>
                    {% else %} 
                    <td>
                        <a class="btn btn-secondary">Agregar item </a>
                    </td>
                    {% endif %}
                    {% endif %}
                    <td>
                        <a href="{% url 'ventas:listar_itemsventa' venta.numero_comprobante %}" class="btn btn-warning">
                            Ver detalle </a>
                    </td>
                    
                    {% if user.rol.opciones == 'VENDEDOR' or user.is_staff %}
                    {% if venta.estado.opciones == 'EN PREPARACION' or venta.estado.opciones == 'EN DEUDA' %}
                        <td>
                            <a href="{% url 'ventas:ingresar_monto' venta.pk %}" class="btn btn-info">Ingresar monto</a>
                        </td>
                    {% else %}
                        
                        <td>
                            <a class="btn btn-secondary">Ingresar monto</a>
                        </td>
                    {% endif %}
                    {% endif %}

                    {% if user.rol.opciones == 'VENDEDOR' or user.is_staff %}
                    {% if venta.estado.opciones == 'EN PREPARACION' or venta.estado.opciones == 'EN DEUDA' %}
                        <td>
                            <a href="{% url 'ventas:cambiar_estado' venta.numero_comprobante  venta.cliente_asociado.id %}" class="btn btn-success">Cargar venta</a>
                        </td>
                    {% else %}
                        
                        <td>
                            <a class="btn btn-secondary">Cargar venta</a>
                        </td>
                    {% endif %}
                    {% endif %}
                    
                </tr>
                {% endfor %}
                {% else %}
                <h5> No hay Ventas registradas :( </h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>

<script>


</script>



{% endblock %}