{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Ventas
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Ventas</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Número de comprobante</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Cliente</th>
                    <th>Vendedor</th>
                    <th>Sucursal</th>
                    <th>Medio de pago</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for venta in object_list %}
                <tr>
                    <td></td>
                    <td>{{ venta.numero_comprobante }}</td>
                    <td>{{ venta.fecha }}</td>
                    <td>{{ venta.monto }}</td>
                    <td>{{ venta.cliente_asociado }}</td>
                    <td>{{ venta.vendedor_asociado }}</td>
                    <td>{{ venta.sucursal_asociada }}</td>
                    <td>{{ venta.mediodepago }}</td>
                    <td>{{ venta.estado}}</td>
                   
                    <td>
                        <a href="{% url 'ventas:eliminar_venta' venta.pk %}" class="btn btn-danger">
                            Eliminar </a>
                    </td>
                    <td>
                        <a href="{% url 'ventas:registrar_itemventa' venta.pk venta.sucursal_asociada.id %}" class="btn btn-primary">
                            Agregar item </a>
                    </td>
                    <td>
                        <a href="{% url 'ventas:listar_itemsventa' venta.pk %}" class="btn btn-warning">
                            Ver detalle </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h5> No hay Ventas registradas :( </h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>


{% endblock %}