{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Ventas
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Ventas</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Número de comprobante</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Vendedor</th>
                    <th>Sucursal</th>
                    <th>Medio de pago</th>
                    <th>Estado</th>
                    <th>Moneda</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for venta in object_list %}
                <tr>
                    <td></td>
                    <td>{{ venta.numero_comprobante }}</td>
                    <td>{{ venta.fecha }}</td>
                    <td>{{ venta.cliente_asociado }}</td>
                    <td>{{ venta.vendedor_asociado }}</td>
                    <td>{{ venta.sucursal_asociada }}</td>
                    <td>{{ venta.mediodepago }}</td>
                    <td>{{ venta.estado}}</td>
                    <td>{{ venta.tipo_de_moneda }}</td>
                    {% if venta.tipo_de_moneda.opciones == 'DOLAR' %}
                    <td>${{ venta.total_dolar}}</td>
                    {% elif venta.tipo_de_moneda.opciones == 'EURO' %} 
                    <td>€{{ venta.total_euro}}</td>
                    {% else %}
                    <td>${{ venta.total_peso}}</td> 
                    {% endif %}

                    {% if user.rol.opciones == 'CAJERO' or user.is_staff or user.rol.opciones == 'ADMINISTRATIVO' %}
                   {% if venta.estado.opciones == 'LISTA' %}
                    <td>
                        <a href="{% url 'ventas:eliminar_venta' venta.numero_comprobante %}" class="btn btn-danger">
                            Eliminar </a>
                    </td>
                    {% else %} 
                    <td>
                        <a class="btn btn-secondary">
                            Eliminar </a>
                    </td>
                    {% endif %}
                    {% endif %}

                    {% if user.rol.opciones == 'CAJERO' or user.is_staff or user.rol.opciones == 'SUPERVISOR' or user.rol.opciones == 'ADMINISTRATIVO'%}
                    {% if venta.estado.opciones == 'LISTA' or venta.estado.opciones == 'PAGADA' %}
                    <td>
                        <a href="{% url 'ventas:ver_items' venta.numero_comprobante %}" class="btn btn-warning">
                            Ver detalle </a>
                    </td>
                    {% else %}
                    <td>
                        <a class="btn btn-secondary">
                            Ver detalle </a>
                    </td>
                    {% endif %}
                    {% endif %}
                    
                    {% if user.rol.opciones == 'CAJERO' or user.is_staff or user.rol.opciones == 'ADMINISTRATIVO'%}
                    {% if venta.estado.opciones == 'LISTA' %}
                    <td>
                        <a href="{% url 'ventas:finalizar_venta' venta.numero_comprobante %}" class="btn btn-success">Finalizar venta</a> 
                    </td>
                    {% else %}
                    <td>
                        <a  class="btn btn-secondary">Finalizar venta</a>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <h5> No hay Ventas registradas :( </h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>


{% endblock %}