{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Reporte de ventas por sucursal
{% endblock title %}

{% block content %}
{% if items %}
<div class="bg-gray-100" id="report">
    <div class="card " style="margin:2%">
        <div class="card-header text-center">
            <strong class="card-title">Reporte de ventas por sucursal </strong>
            </div>
                {% if es_gerente_general %}
                <div class="bg-gray-100 text-center">
                <select name="sucursal" id="sucursal" class="bg-gradient-light">
                    <option value="0"> Seleccioná una sucursal </option>
                    {% for sucursal in sucursales %}
                    <option value="{{sucursal.id}}">{{sucursal.codigo}}</option>
                    {% endfor %}
                </select>
                <a id="boton2" class="btn btn-primary" onclick="filtrarPorSucursal()">Filtrar resultados</a>
            </div>
                {% endif %}
        
    <div class="table-stats order-table ov-h bg-gray-100">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Sucursal numero</th>
                    <th>Sucursal nombre</th>
                    <th>Cantidad de ventas</th>
                    <th>Total</th>
                    
                </tr>
            </thead>
            <tbody id = "table">
                
                {% for venta in items %}

               <tr class = "items" id = "{{ venta.sucursal_id }}">
                    <td></td>
                    <td id="responsable{{ venta.sucursal_id }}">{{ venta.sucursal_id}}</td>
                    <td>{{ venta.sucursal_asociada_codigo }}</td>
                    <td>{{ venta.cantidad_ventas }}</td>
                    <td>{{ venta.total }}</td>

                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        

    </div>

</div>

</div>
<div class="text-center">
    <button hidden name="button" class="fa fa-print" id="button" onclick="printChart('report')"> Imprimir</button>
    </div>
</div>

{% else %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center"> 
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Sin registros</h1>
            <h3 class="mx-auto my-0 text-center">Por el momento no hay ventas registradas. </h3>
           
        </div>
    </div>
    <br>
</header>
<div class="text-center">
    <a href="{% url 'index' %}" class="btn btn-primary">Volver al inicio</a>
</div>
                    {% endif %}

<script>
    data = [];

    function printChart(divName) {
        let toPrint = document.getElementById(divName).innerHTML;
        let originalContents = document.body.innerHTML;

        document.body.innerHTML = toPrint;
        window.print();
        document.body.innerHTML = originalContents;
    }

    window.onload = (event) => {

        setTimeout(function () {
            document.getElementById("button").hidden = false;
        }, 1000);
    };
   
    function filtrarPorSucursal() {
        sucursalSeleccionada = document.getElementById("sucursal").options[document.getElementById("sucursal").selectedIndex].value;
        console.log("sucursalSeleccionada: " + sucursalSeleccionada);
        if (document.getElementById("boton2").innerText == "Filtrar resultados") {
            document.getElementById("boton2").innerText = "Reiniciar";

            elementos = document.getElementsByClassName("items");
            cont = 0;
            toDelete = []
            for (let i = 0; i < document.getElementsByClassName("items").length; i++) {
                elemento = elementos[cont];
                responsable_sucursal_id = document.getElementById("responsable" + elemento.id).innerText;
                

                ret = sucursalSeleccionada == responsable_sucursal_id;

                console.log("Iguales? " + sucursalSeleccionada + " == " + responsable_sucursal_id);

                if (!ret) {
                    // document.getElementById("table").removeChild(document.getElementById(elemento.id));
                    toDelete.push(document.getElementById(elemento.id))
                }
                cont++;
            }

            cont = 0;
            for (let i = 0; i < toDelete.length; i++) {
                document.getElementById("table").removeChild(toDelete[cont]);
                cont++;
            }
        }
        else {
            location.reload();
        }
    }



</script>
{% endblock %}