{% extends 'index.html' %}


{% block title %} Manuales de usuario {% endblock title %}


{% block content %}

{% if user.is_staff %}

<div class="text-center" style="margin:5%">
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase text-black-50">Manuales de usuario</h1>
                <hr>
            </div>
        </div>
    </header>
    <iframe class="img-responsive" width="500" height="250" src="https://www.youtube.com/embed/c_XMaNwxmjw"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
    <iframe class="img-responsive" width="500" height="250" src="https://www.youtube.com/embed/QMxAkKT5o2I"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
    <iframe class="img-responsive" width="500" height="250" src="https://www.youtube.com/embed/ZuCwBFE-1rY"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
    <iframe class="img-responsive" width="500" height="250" src="https://www.youtube.com/embed/lm4d9oP4Z_s"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
    <iframe class="img-responsive" width="500" height="250" src="https://www.youtube.com/embed/7_Yb9rLhTL8"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
</div>
</div>
{% endif %}

{% if user.rol.opciones == 'GERENTE GENERAL' %}
<div class="text-center" style="margin:5%">
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase text-black-50">Manual del Gerente</h1>

                <hr>
            </div>
        </div>
    </header>
    <iframe class="img-responsive" width="500" height="350" src="https://www.youtube.com/embed/c_XMaNwxmjw"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
</div>
</div>
{% endif %}

{% if user.rol.opciones == 'SUPERVISOR' %}
<div class="text-center" style="margin:5%">
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase text-black-50">Manual del Supervisor</h1>

                <hr>
            </div>
        </div>
    </header>
    <iframe class="img-responsive" width="500" height="350" src="https://www.youtube.com/embed/QMxAkKT5o2I"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
</div>
</div>
{% endif %}

{% if user.rol.opciones == 'VENDEDOR' %}
<div class="text-center" style="margin:5%">
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase text-black-50">Manual del Vendedor</h1>

                <hr>
            </div>
        </div>
    </header>
    <iframe class="img-responsive" width="500" height="350" src="https://www.youtube.com/embed/ZuCwBFE-1rY"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
</div>
</div>
{% endif %}

{% if user.rol.opciones == 'CAJERO' %}
<div class="text-center" style="margin:5%">
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase text-black-50">Manual del Cajero</h1>

                <hr>
            </div>
        </div>
    </header>
    <iframe class="img-responsive" width="500" height="350" src="https://www.youtube.com/embed/lm4d9oP4Z_s"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
</div>
</div>
{% endif %}

{% if user.rol.opciones == 'ADMINISTRATIVO' %}
<div class="text-center" style="margin:5%">
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase text-black-50">Manual del Administrativo</h1>

                <hr>
            </div>
        </div>
    </header>
    <iframe class="img-responsive" width="500" height="350" src="https://www.youtube.com/embed/7_Yb9rLhTL8"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>
</div>
</div>
{% endif %}
{% endblock %}