{% extends 'index.html' %}
{% load widget_tweaks %}

{% block title %} Cambiar estado del item {% endblock title %}


{% block content %}

<div class="card bg-gray-100" style="margin:2%">
    <div class="card-header text-center">
        <strong class="card-tittle">Cambiar estado de: {{object}}</strong>
    </div>

    <div class="card-body">
        <form class="user" method="post">
            {% csrf_token %}
            {% for field in form %}
            {{field.label_tag}}

            <div class="form-group">
                {% render_field field class="form-control form-control bg-gradient-light" %}

                {% endfor %}

            </div>
            
            
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            
            <div class="text-center">
                <a href="{% url 'items:listar_items' %}" class="btn btn-danger"> Cancelar </a>
                <button type="submit" class="btn btn-success">Actualizar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}