{% extends 'index.html' %}
{% load widget_tweaks %}

{% block title %} Registro de items {% endblock title %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="card">
    <div class="card-header">
        <strong class="card-tittle">Registro de Items</strong>
    </div>

    <div class="card-body">
        <form class="user" method="post">
            {% csrf_token %}
            {{form.errors}}

            {{form.nombre.label_tag}}
            <div class="form-group">
                {% render_field form.nombre class="form-control form-control-user" %}
            </div>
            {{form.precio.label_tag}}
            <div class="form-group">
                {% render_field form.precio class="form-control form-control-user" %}
            </div>
            {{form.ubicacion.label_tag}}
            <div class="form-group">
                {% render_field form.ubicacion class="form-control form-control-user" %}
            </div>

            <div class="form-group">Categoria</div>
            <div class="form-group">
                <select name="categoria" id="id_categoria" class="form-group form-control">
                    <option value="0"> - </option>
                    {% for item in categoria %}
                    <option value="{{item.id}}">{{item}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group">Sub Categoria</div>
            <div class="form-group">
                <select name="subcategoria" id="id_subcategoria" class="form-group form-control">
                    <option value="0"> - </option>
                    {% for item in subcategoria %}
                    <option value="{{item.id}}" data-chained="{{item.nombre_categoria.id}}">{{item}}</option>
                    {% endfor %}
                </select>
            </div>

            {{form.estado.label_tag}}
            <div class="form-group">
                {% render_field form.estado class="form-control form-control-user" %}
            </div>

            {{form.unidad_de_medida.label_tag}}
            <div class="form-group">
                {% render_field form.unidad_de_medida class="form-control form-control-user" %}
            </div>

            {{form.repo_por_lote.label_tag}}
            <div class="form-group">
                {% render_field form.repo_por_lote class="form-control form-control-user" %}
            </div>

            {{form.sucursal.label_tag}}
            <div class="form-group">
                {% render_field form.sucursal class="form-control form-control-user" %}
            </div>
            {{form.cantidad_lote.label_tag}}
            <div class="form-group">
                {% render_field form.cantidad_lote class="form-control form-control-user" %}
            </div>
            {% for field in form %}
            
            
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            <div class="">
               

                <a href="{% url 'items:listar_items' %}" class="btn btn-danger"> Cancelar </a>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("#id_subcategoria").chained("#id_categoria");
    });
</script>

{% endblock %}