{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Categorias
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card" style="margin:2%">
        <div class="card-header text-center">
            <strong class="card-title">Listado de Categorias</strong>
        </div>
    

    <div class="table-stats order-table ov-h bg-gray-100">
        <table class="table">

            <thead>

                <tr>
                    <th> </th>
                    <th>Categoria</th>
                    <th>Proveedor Asignado</th>
                    <th>Seleccionar Proveedor</th>

                </tr>
            </thead>
            <tbody>

                {% for cat in object_list %}

                <tr>
                    <td> </td>
                    <td>{{ cat.opciones}}</td>
                    {% if cat.prov_preferido == None %} 
                    <td>No tiene</td>
                    {% else %}
                    <td>{{ cat.prov_preferido}}</td>
                    {% endif %}
                    <td>


                        <div class="form-group">
                            <select name="proveedor" id="select{{cat.id}}" class="select form-control bg-gradient-light">
                                <option value="0"> - </option>

                                {% for prov in proveedor %}
                                
                                <option value="{{prov.id}}">{{prov}}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </td>
                    <td>
                        <a  class="btn btn-primary" id="{{cat.id}}"
                            onclick="AsignarProveedor(this.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg> Asignar Proveedor</a>
                    </td>
                    {% if cat.prov_preferido != None %}
                    <td>
                        <a href="{% url 'items:historial_preferenciados' cat.prov_preferido.id cat.id %}" class="btn btn-info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                          </svg> Historial de preferenciados</a>
                    </td>
                    {% else %}
                    <td>
                        <a class="btn btn-secondary">Historial de preferenciados</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
</div>
</div>
<script>

    function AsignarProveedor(boton_id) {
        let csrftoken = getCookie('csrftoken');
        proveedorSeleccionado = document.getElementById("select" + boton_id).options[document.getElementById("select" + boton_id).selectedIndex].value;
        console.log(proveedorSeleccionado)
        console.log(boton_id)

        $.ajax({
            type: "POST",
            url: "AsignarProveedor/",
            data: {
                csrfmiddlewaretoken: csrftoken,
                proveedor: proveedorSeleccionado, 
                categoria: boton_id,
                       },
            dataType: "text",
            success: function (data) {
                location.reload()
                console.log(data)

            },
            error: function (jqXHR, textStatus, errorThrown) {

                if (jqXHR.status === 0) {

                    alert('Error al intentar Conectarse: Verifique su conexion a Internet.');

                } else if (jqXHR.status == 404) {

                    alert('La Pagina solicitada no fue encontrada [404]');

                } else if (jqXHR.status == 500) {

                    alert('Erro Interno [500]');

                } else if (textStatus === 'parsererror') {

                    alert('Error en el retorno de Datos. [parseJson]');

                } else if (textStatus === 'timeout') {

                    alert('Tiempo de Espera agotado');

                } else if (textStatus === 'abort') {
                    alert('Solicitud Abortada. [Ajax Request]');

                } else {

                    ErrorGeneral()



                }//end if 

            }//end error
        });
    }


    function getCookie(name) {

        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }

        return cookieValue;

    }

    function ErrorGeneral() {

        Swal.fire({
            "title": "Ups",
            "text": "Ha ocurrido un error.",
            "icon": "error",
        })

    }
    
</script>


{% endblock %}