{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Mezclas
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Mezclas de pinturas usadas</strong>
        </div>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Primera pintura usada</th>
                    <th>Cantidad de la primera pintura</th>
                    <th>Segunda pintura usada</th>
                    <th>Cantidad de la segunda pintura</th>
                 

                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for pintura in object_list %}
                
               
                <tr>
                    <td></td>
                    <td>{{ pintura.primera_pintura }}</td>
                    <td>{{ pintura.cantidad_primera_pintura}}</td>
                    <td>{{ pintura.segunda_pintura }}</td>
                    <td>{{ pintura.cantidad_segunda_pintura}}</td>
                   
                    <td>
                        <a href="{% url 'items:eliminar_mezcla_usada' pintura.pk %}" class="btn btn-danger"> Eliminar </a>
                        <a href="{% url 'items:finalizar_mezcla_usada' pintura.id pintura.primera_pintura.id pintura.segunda_pintura.id pintura.cantidad_primera_pintura pintura.cantidad_segunda_pintura %}" class="btn btn-primary">Mezclar</a>
                    </td>
                   
                </tr>
                {% endfor %}
                {% else %}
                <h5>No hay mezclas preparadas :( </h1>
                    {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="text-center">
    <a href="{% url 'items:listar_pinturas_usadas' %}" class="btn btn-primary">Volver</a>
</div>



{% endblock %}