{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Items
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Items</strong>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'items:listar_items' %}" class="btn btn-info">Reiniciar listado</a>
        
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Código de barras</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Categoria</th>
                    <th>SubCategoria</th>
                    <th>Proveedor</th>
                    <th>Estado</th>
                    <th>Unidad de medida</th>
                    <th>Ubicación</th>
                    <th>Sucursal</th>
                    <th>Stock Minimo</th>
                    <th>Stock de Seguridad</th>

                </tr>
            </thead>
            <tbody>
                {% if lista %}
                {% for item in lista %}
                {% if item.cantidad <= item.stockminimo and item.cantidad > item.stockseguridad %}


                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>STOCK MINIMO!</strong> Se ha alcanzado el stock minimo para el item {{item.nombre}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

                {% if item.cantidad <= item.stockseguridad %} 
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>STOCK DE SEGURIDAD!</strong> Se ha alcanzado el stock de seguridad para el item {{item.nombre}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
               
                <tr>
                    <td></td>
                    <td>{{ item.codigo_de_barras }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.precio }}</td>
                    <td>{{ item.cantidad}}</td>
                    <td>{{ item.categoria }}</td>
                    <td>{{ item.subcategoria }}</td>
                    <td>{{ item.categoria.prov_preferido}}</td>
                    <td>{{item.estado}}</td>
                    <td>{{ item.unidad_de_medida }}</td>
                    <td>{{ item.ubicacion}}</td>
                    <td>{{ item.sucursal}}</td>
                    <td>{{ item.stockminimo }}</td>
                    <td>{{ item.stockseguridad }}</td>

                    {% if user.rol.opciones == 'SUPERVISOR' or user.is_staff %}
                    <td>
                        <a href="{% url 'items:eliminar_item' item.pk %}" class="btn btn-danger"> Eliminar </a>
                        <a href="{% url 'items:actualizar_item' item.pk %}" class="btn btn-primary"> Editar </a>
                        <a href="{% url 'items:reposicion_item' item.pk %}" class="btn btn-warning"> Configurar
                            reposicion </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <h5>No hay items registrados :( </h1>
                    {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>




{% endblock %}