{% extends 'pantalla_pedido.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}

{% if queryset %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center"> 
        <div class="mx-auto text-center">
<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Pedido para el proveedor</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th style="color: white;">#</th>
                    <th style="color: white;">Item</th>
                    <th style="color: white;">Solicitado</th>
                    <th style="color: white;">Disponible</th>

                </tr>
            </thead>
            <tbody>
                {% for pedido in queryset %}
                <tr>
                    <td></td>
                    <td hidden id="pedido">{{pedido.id}}</td>
                    <!-- <td>{{pedido.item.cantidad_lote}}</td> -->
                    <td style="color: white;">{{ pedido.item }}</td>
                    <td style="color: white;" id="{{pedido.item}}cantidadLote">{{ pedido.solicitado }}</td>
                    <!-- <td hidden id="{{pedido.item}}porLote" class="esPorLoteClass">{{ pedido.item.repo_por_lote }}</td> -->
                    {% if pedido.item.repo_por_lote %}
                    <td style="color: white;">
                        <input type="Number" class="input-cantidad" id="{{pedido.item}}" placeholder="0" min="0"
                            max="{{ pedido.cantidad }}" step="{{ pedido.item.cantidad_lote }}">
                    </td>
                    {% else %}
                    <td style="color: white;"><input type="Integer" class="input-cantidad" id="{{pedido.item}}" placeholder="0" min="0"
                            max="{{ pedido.cantidad }}"></td>
                    {% endif %}
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>
<div class="text-center">
    <!-- href="{% url 'items:stock_recibido' %}" -->
    <a  onclick="funcionCantidad()" class="btn btn-primary"> Enviar </a>
</div>

</div>
</div>
</div>
</header>
{% else %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center"> 
        <div class="mx-auto text-center">
            <h3 class="text-white-50 mx-auto mt-2 mb-5">El pedido ha expirado o se encuentra finalizado.</h2>
           
        </div>
    </div>
</header>
{% endif %}


<script>
    function funcionCantidad() {
        
        var csrftoken = getCookie('csrftoken');
        const inputsCantidades = document.getElementsByClassName('input-cantidad');

        for (input of inputsCantidades) {
            console.log(input.id)
            console.log(document.getElementById(input.id).value)
            $.ajax({
                type: "POST",
                url: "RecibirStock/",
                data: {
                    csrfmiddlewaretoken: csrftoken,
                    item: input.id,
                    cantidad: document.getElementById(input.id).value,
                    pedido: document.getElementById('pedido').innerText,
                },
                dataType: "text",
                success: function (data) {
                    location.reload()
                    console.log(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 0) {
                        alert('Error al intentar Conectarse: Verifique su conexion a Internet.');
                    }
                    else if (jqXHR.status == 404) {
                        alert('La Pagina solicitada no fue encontrada [404]');
                    }
                    else if (jqXHR.status == 500) {
                        alert('Erro Interno [500]');
                    }
                    else if (textStatus === 'parsererror') {
                        alert('Error en el retorno de Datos. [parseJson]');
                    }
                    else if (textStatus === 'timeout') {
                        alert('Tiempo de Espera agotado');
                    }
                    else if (textStatus === 'abort') {
                        alert('Solicitud Abortada. [Ajax Request]');
                    }
                    else {
                        ErrorGeneral();
                    }
                }
            });
        }
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function ErrorGeneral() {

Swal.fire({
    "title": "Ups",
    "text": "Ha ocurrido un error.",
    "icon": "error",
})

}

</script>

{% endblock %}