{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Pedido para el proveedor
{% endblock title %}

{% block content %}

{% if queryset %}
<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Pedido para el proveedor</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th>Solicitado</th>
                    <th>Disponible</th>

                </tr>
            </thead>
            <tbody>
                {% for pedido in queryset %}
                <tr>
                    <td></td>
                    <td>{{ pedido.item }}</td>
                    <td id="{{pedido.item}}cantitdadLote">{{ pedido.cantidad }}</td>
                    <td hidden id="{{pedido.item}}porLote" class="esPorLoteClass">{{ pedido.item.repo_por_lote }}</td>
                    <td hidden>{{ pedido.item.cantidad_lote
                        }}</td>
                    <td><input type="Integer" class="input-cantidad" id="{{pedido.item}}" placeholder="0"></td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>
<div class="text-center">
    <a href="{% url 'items:stock_recibido' %}" onclick="funcionCantidad()" class="btn btn-primary"> Enviar </a>
</div>
</div>

{% else %}
<h1>NO EXISTE EL PEDIDO >:( </h1>
{% endif %}


<script>
    function funcionCantidad() {
        let valido = true;

        for (item of document.getElementsByClassName("esPorLoteClass")) {
            let cantidadValida = true;
            let repoPorLote = document.getElementById(item.id).innerText;
            let cantidadLote = document.getElementById(item.id.substring(0, item.id.length - 7) + "cantitdadLote").innerText;
            let cantidadProveedor = document.getElementById(item.id.substring(0, item.id.length - 7)).value;

            if (repoPorLote == "True" && parseInt(cantidadProveedor) % parseInt(cantidadLote)  != 0) {
                cantidadValida = false;
            }

            valido &= cantidadValida;
        }

        if (valido) {
            console.log("Con su permiso, paso a enviar todo a Django :D");
            var csrftoken = getCookie('csrftoken');
            const inputsCantidades = document.getElementsByClassName('input-cantidad');
            for (input of inputsCantidades) {
                console.log(input.id)
                console.log(document.getElementById(input.id).value)
                $.ajax({
                    type: "POST",
                    url: "RecibirStock/",
                    data: {
                        csrfmiddlewaretoken: csrftoken,
                        item: input.id,
                        cantidad: document.getElementById(input.id).value,
                    },
                    dataType: "text",
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                        if (jqXHR.status === 0) {

                            alert('Error al intentar Conectarse: Verifique su conexion a Internet.');

                        } else if (jqXHR.status == 404) {

                            alert('La Pagina solicitada no fue encontrada [404]');

                        } else if (jqXHR.status == 500) {

                            alert('Erro Interno [500]');

                        } else if (textStatus === 'parsererror') {

                            alert('Error en el retorno de Datos. [parseJson]');

                        } else if (textStatus === 'timeout') {

                            alert('Tiempo de Espera agotado');

                        } else if (textStatus === 'abort') {
                            alert('Solicitud Abortada. [Ajax Request]');

                        } else {
                            alert('Error desconocido: ' + jqXHR.responseText);

                        }//end if 

                    }//end error
                });
            }
        }
        else {
            alert("Error");
        }
    }

    function getCookie(name) {

        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }

        return cookieValue;
    }
</script>

{% endblock %}