{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% load mathfilters %}

{% block title %}
Listado de Items
{% endblock title %}

{% block content %}

<div class="bg-gray-100" id="report">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Modificaciones de precios por categorías</strong>
            <div align="right">
                <input id=fechaDesde type="date">
                <input id=fechaHasta type="date">
                <a id="boton" class="btn btn-primary" onclick="filtrarLista()">Filtrar
                    resultados</a>
            </div>
        </div>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Categoría</th>
                    <th>Monto modificado</th>
                    <th>Responsable</th>
                </tr>
            </thead>
            <tbody id="table">
                {% if filas %}
                {% for fila in filas %}
                <tr class="items" id="{{ fila.id }}">
                    <td></td>
                    <td>{{ fila.id }}</td>
                    <td>{{ fila.fecha }}</td>
                    <td hidden id="fecha{{ fila.id }}">{{ fila.fecha_a_comparar }}</td>
                    <td>{{ fila.categoria }}</td>
                    <td>+{{ fila.aumento }}</td>
                    <td>{{ fila.responsable }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h5>No hay items registrados :( </h1>
                    {% endif %}
            </tbody>
        </table>
        <div id="chartdiv"></div>

    </div>

</div>

</div>

<!--Inserta Grafico-->
<button hidden name="button" class="fa fa-print" id="button" onclick="printChart('report')"> Imprimir</button>

<style>
    #chartdiv {
        height: 350px;
        width: 69%;
        margin: auto;
    }
</style>

<script>
    function printChart(divName) {
        let toPrint = document.getElementById(divName).innerHTML;
        let originalContents = document.body.innerHTML;

        document.body.innerHTML = toPrint;
        window.print();
        document.body.innerHTML = originalContents;
    }

    window.onload = (event) => {
        setTimeout(function () {
            document.getElementById("button").hidden = false;
        }, 1000);
    };

    function filtrarLista() {
        if (document.getElementById("boton").innerText == "Filtrar resultados") {
            document.getElementById("boton").innerText = "Reiniciar";

            elementos = document.getElementsByClassName("items");
            cont = 0;
            toDelete = []
            for (let i = 0; i < document.getElementsByClassName("items").length; i++) {
                elemento = elementos[cont];
                fecha = document.getElementById("fecha" + elemento.id).innerText
                fechaDesde = document.getElementById("fechaDesde").value;
                fechaHasta = document.getElementById("fechaHasta").value;
                console.log("fecha:" + fecha);
                console.log("fechaDesde:" + fechaDesde);
                console.log("fechaHasta:" + fechaHasta);
                ret = fecha >= fechaDesde && fecha <= fechaHasta;
                console.log(fechaDesde + " >= " + fecha);
                console.log(fecha + " <= " + fechaHasta);
                console.log(ret);
                if (!ret) {
                    // document.getElementById("table").removeChild(document.getElementById(elemento.id));
                    toDelete.push(document.getElementById(elemento.id))
                }
                cont++;
            }
            cont = 0;
            console.log(toDelete);
            for (let i = 0; i < toDelete.length; i++) {
                console.log(toDelete[cont]);
                document.getElementById("table").removeChild(toDelete[cont]);
                cont++;
            }
        }
        else {
            location.reload();
        }
        /*let csrftoken = getCookie('csrftoken');
        console.log(document.getElementById("fechaDesde").value)
        console.log(document.getElementById("fechaHasta").value)
        $.ajax({
            type: "POST",
            url: "fecha/",
            data: {
                csrfmiddlewaretoken: csrftoken,
                fechaDesde: document.getElementById("fechaDesde").value,
                fechaHasta: document.getElementById("fechaHasta").value,
            },
            dataType: "text",
            success: function (data) {
                console.log(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 0) {
                    alert('Error al intentar Conectarse: Verifique su conexion a Internet.');
                }
                else if (jqXHR.status == 404) {
                    alert('La Pagina solicitada no fue encontrada [404]');
                }
                else if (jqXHR.status == 500) {
                    alert('Erro Interno [500]');
                }
                else if (textStatus === 'parsererror') {
                    alert('Error en el retorno de Datos. [parseJson]');
                }
                else if (textStatus === 'timeout') {
                    alert('Tiempo de Espera agotado');
                }
                else if (textStatus === 'abort') {
                    alert('Solicitud Abortada. [Ajax Request]');
                }
                else {
                    alert('Error desconocido: ' + jqXHR.responseText);
                }
            }
        });*/
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% endblock %}