{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% load mathfilters %}

{% block title %}
Listado de Items
{% endblock title %}

{% block content %}
{% if filasReporte %}
<div class="bg-gray-100" id="report">
    <div class="card bg-gray-100" style="margin:2%">
        <div class="card-header">
            <strong class="card-title">Modificaciones de precios por categorías</strong>
            </div>
            <div align="right">
                <input id=fechaDesde type="date">
                <input id=fechaHasta type="date">
                <a id="boton" class="btn btn-primary" onclick="filtrarLista()">Filtrar
                    resultados</a>
                {% if es_gerente_general %}
                <div class="text-center">
                <select name="sucursal" id="sucursal" class="bg-gradient-light">
                    <option value="0"> Seleccioná una sucursal </option>
                    {% for sucursal in sucursales %}
                    <option value="{{sucursal.id}}">{{sucursal.codigo}}</option>
                    {% endfor %}
                </select>
                <a id="boton2" class="btn btn-primary" onclick="filtrarPorSucursal()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg> Filtrar resultados</a>
                </div>
                {% endif %}

       
   
    <div class="table-stats order-table ov-h bg-gray-100">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Categoría</th>
                    <th>Monto modificado</th>
                    <th>Responsable</th>
                </tr>
            </thead>
            <tbody id="table">
               
                {% for fila in filasReporte %}
                <tr class="items" id="{{ fila.id }}">
                    <td>{{ fila.id }}</td>
                    <td>{{ fila.fecha }}</td>
                    <td hidden id="fecha{{ fila.id }}">{{ fila.fecha_a_comparar }}</td>
                    <td>{{ fila.categoria }}</td>
                    <td>+{{ fila.aumento }}</td>
                    <td>{{ fila.responsable }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <div id="chartdiv"></div>

    </div>

</div>

</div>

<!--Inserta Grafico-->

</div>
<div class="text-center">
    <button hidden name="button" class="fa fa-print" id="button" onclick="printChart('report')"> Imprimir</button>
    </div>
</div>

<style>
    #chartdiv {
        height: 350px;
        width: 69%;
        margin: auto;
    }
</style>

{% else %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center"> 
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Sin registros</h1>
            <h3 class="mx-auto my-0 text-center">Por el momento no se han registrado cambios masivos en items. </h3>
           
        </div>
    </div>
    <br>
</header>
<div class="text-center">
    <a href="{% url 'index' %}" class="btn btn-primary">Volver al inicio</a>
</div>
                    {% endif %}
<script>
    function printChart(divName) {
        let toPrint = document.getElementById(divName).innerHTML;
        let originalContents = document.body.innerHTML;

        document.body.innerHTML = toPrint;
        window.print();
        document.body.innerHTML = originalContents;
    }

    window.onload = (event) => {
        setTimeout(function () {
            document.getElementById("button").hidden = false;
        }, 1000);
    };

    function filtrarLista() {
        if (document.getElementById("boton").innerText == "Filtrar resultados") {
            document.getElementById("boton").innerText = "Reiniciar";

            elementos = document.getElementsByClassName("items");
            cont = 0;
            toDelete = []
            for (let i = 0; i < document.getElementsByClassName("items").length; i++) {
                elemento = elementos[cont];
                fecha = document.getElementById("fecha" + elemento.id).innerText
                fechaDesde = document.getElementById("fechaDesde").value;
                fechaHasta = document.getElementById("fechaHasta").value;

                ret = fecha >= fechaDesde && fecha <= fechaHasta;

                if (!ret) {
                    // document.getElementById("table").removeChild(document.getElementById(elemento.id));
                    toDelete.push(document.getElementById(elemento.id))
                }
                cont++;
            }

            cont = 0;
            for (let i = 0; i < toDelete.length; i++) {
                document.getElementById("table").removeChild(toDelete[cont]);
                cont++;
            }
        }
        else {
            location.reload();
        }
    }

    function filtrarPorSucursal() {
        sucursalSeleccionada = document.getElementById("sucursal").options[document.getElementById("sucursal").selectedIndex].value;
        console.log("sucursalSeleccionada: " + sucursalSeleccionada);
        if (document.getElementById("boton2").innerText == " Filtrar resultados") {
            document.getElementById("boton2").innerText = "Reiniciar";

            elementos = document.getElementsByClassName("items");
            cont = 0;
            toDelete = []
            for (let i = 0; i < document.getElementsByClassName("items").length; i++) {
                elemento = elementos[cont];
                responsable_sucursal_id = document.getElementById("responsable" + elemento.id).innerText;
                

                ret = sucursalSeleccionada == responsable_sucursal_id;

                console.log("Iguales? " + sucursalSeleccionada + " == " + responsable_sucursal_id);

                if (!ret) {
                    // document.getElementById("table").removeChild(document.getElementById(elemento.id));
                    toDelete.push(document.getElementById(elemento.id))
                }
                cont++;
            }

            cont = 0;
            for (let i = 0; i < toDelete.length; i++) {
                document.getElementById("table").removeChild(toDelete[cont]);
                cont++;
            }
        }
        else {
            location.reload();
        }
    }

</script>

{% endblock %}