{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% load mathfilters %}

{% block title %}
Listado de Items
{% endblock title %}

{% block content %}
{% if items %}
<div class="bg-gray-100" id="report">
    <div class="card bg-gray-100" style="margin:2%">
        <div class="card-header text-center">
            <strong class="card-title">Ítems con riesgo de stock</strong>
        </div>
            {% if es_gerente_general %}
            <div class="bg-gray-100 text-center">
                    <select name="sucursal" id="sucursal" class="bg-gradient-light">
                        <option value="0"> Seleccioná una sucursal </option>
                        {% for sucursal in sucursales %}
                        <option value="{{sucursal.id}}">{{sucursal.codigo}}</option>
                        {% endfor %}
                    </select>
                    <a id="boton2" class="btn btn-primary" onclick="filtrarPorSucursal()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg> Filtrar resultados</a>
                    </div>
                    {% endif %}
        
    
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Código de barras</th>
                    <th>Nombre</th>
                    <th>Riesgo de stock mínimo</th>
                    <th>Riesgo de stock de seguridad</th>
                </tr>
            </thead>
            <tbody id="table">
                
                {% for item in items %}
                <tr class = "other_item" id = "{{ item.codigo_de_barras}}">
                    <td></td>
                    <td>{{ item.codigo_de_barras }}</td>
                    <td class="items" id="{{ item.codigo_de_barras }}">{{ item.nombre }}</td>
                    <td hidden id="{{ item.codigo_de_barras }}cantidad">{{ item.cantidad }}</td>
                    <td hidden id="responsable{{ item.codigo_de_barras}}">{{ item.sucursal_id}}</td>
                    {% with stockmin=item.stockminimo|mul:100 %}

                    {% if item.cantidad != 0 %}

                    {% with calculo1=stockmin|div:item.cantidad %}
                    
                    <td>{{ calculo1|floatformat }}%</td>
                    {% endwith %}
                    {% else %} 
                    <td>100 %</td>
                    {% endif %}
                    {% endwith %}
                    
                    {% with stockseg=item.stockseguridad|mul:100 %}
                    {% if item.cantidad != 0 %}
                    {% with calculo2=stockseg|div:item.cantidad %}
                    
                    <td>{{ calculo2|floatformat}}%</td>
                    {% endwith %} 
                    {% else %} 
                    <td>100 %</td>
                    {% endif %}
                    {% endwith %}
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
       

    </div>
</div>
<div id="chartdiv"></div>
</div>

</div>
<div class="text-center">
    <button hidden name="button" class="fa fa-print" id="button" onclick="printChart('report')"> Imprimir</button>
    </div>
<!--Inserta Grafico-->


<style>
    #chartdiv {
        height: 350px;
        width: 69%;
        margin: auto;
    }
</style>

{% else %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center"> 
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Sin registros</h1>
            <h3 class="mx-auto my-0 text-center">Por el momento no hay items para realizar el reporte. </h3>
           
        </div>
    </div>
    <br>
</header>
<div class="text-center">
    <a href="{% url 'index' %}" class="btn btn-primary">Volver al inicio</a>
</div>
                    {% endif %}

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script>
    data = [];

    function printChart(divName) {
        let toPrint = document.getElementById(divName).innerHTML;
        let originalContents = document.body.innerHTML;

        document.body.innerHTML = toPrint;
        window.print();
        document.body.innerHTML = originalContents;
    }

    window.onload = (event) => {
        
        GenerarGrafico()

        setTimeout(function () {
            document.getElementById("button").hidden = false;
        }, 1000);
    };

    function filtrarPorSucursal() {
        sucursalSeleccionada = document.getElementById("sucursal").options[document.getElementById("sucursal").selectedIndex].value;
        console.log("sucursalSeleccionada: " + sucursalSeleccionada);
        if (document.getElementById("boton2").innerText == " Filtrar resultados") {
            document.getElementById("boton2").innerText = "Reiniciar";

            elementos = document.getElementsByClassName("other_item");
            cont = 0;
            toDelete = []
            for (let i = 0; i < document.getElementsByClassName("other_item").length; i++) {
                
                elemento = elementos[cont];
                console.log(elemento)
                responsable_sucursal_id = document.getElementById("responsable" + elemento.id).innerText;
                

                ret = sucursalSeleccionada == responsable_sucursal_id;

                console.log("Iguales? " + sucursalSeleccionada + " == " + responsable_sucursal_id);

                if (!ret) {
                    // document.getElementById("table").removeChild(document.getElementById(elemento.id));
                    toDelete.push(document.getElementById(elemento.id))
                }
                cont++;
            }

            cont = 0;
            for (let i = 0; i < toDelete.length; i++) {
                console.log(toDelete[cont])
                document.getElementById("table").removeChild(toDelete[cont]);
                cont++;

            }
            data = [];
            GenerarGrafico()
        }

        else {
            location.reload();
        }
    }

    function GenerarGrafico(){

        let elements = document.getElementsByClassName("items");
        cont = 0;

        for (i = 0; i < elements.length; i++) {
            let element = elements[cont];
            let item = document.getElementById(element.id).innerText;
            let cantidad = document.getElementById(element.id + "cantidad").innerText;
            let info = { "item": elements[i].innerText, "cantidad": cantidad };

            data.push(info);
            cont++;
        }

        am4core.ready(function () {
            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            let chart = am4core.create("chartdiv", am4charts.PieChart);
            
            // Add data
            chart.data = data;

            // Add and configure Series
            let pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "cantidad";
            pieSeries.dataFields.category = "item";
            pieSeries.slices.template.stroke = am4core.color("#fff");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;

            // This creates initial animation
            pieSeries.hiddenState.properties.opacity = 1;
            pieSeries.hiddenState.properties.endAngle = -90;
            pieSeries.hiddenState.properties.startAngle = -90;
        });
    }

</script>

{% endblock %}