{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Solicitar Stock
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Solicitar Stock</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>

                    <th></th>
                    <th>Item</th>
                    <th>Proveedor</th>
                    <th>Cantidad solicitada</th>
                </tr>
            </thead>
            <tbody>
                {% if lista %}
                {% for item in lista %}
                <tr>
                    <td></td>
                    <td>{{item.nombre}}</td>
                    <td>{{ item.categoria.prov_preferido}}</td>
                    <td hidden id="item-id">{{item.id}}</td>
                   <td>
                    <input type="Number" id="cantidad" placeholder="0" min="0"
                    max="1000" >
                   </td>

                    <td>
                       <a href="{% url 'items:listar_items' %}" onclick="SolicitarStock()" class="btn btn-primary">Enviar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h5>No hay nada aquí. </h1>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a href="{% url 'items:listar_items' %}" class="btn btn-primary">Volver</a>
    </div>
</div>
</div>

<script>

    function SolicitarStock() {
        let csrftoken = getCookie('csrftoken');
        
        $.ajax({
            type: "POST",
            url: "RealizarPedido/",
            data: {
                csrfmiddlewaretoken: csrftoken,
                cantidad_ingresada: document.getElementById('cantidad').value,
                item: document.getElementById('item-id').innerText, 
                       },
            dataType: "text",
            success: function (data) {
                location.reload()
                console.log(data)

            },
            error: function (jqXHR, textStatus, errorThrown) {

                if (jqXHR.status === 0) {

                    alert('Error al intentar Conectarse: Verifique su conexion a Internet.');

                } else if (jqXHR.status == 404) {

                    alert('La Pagina solicitada no fue encontrada [404]');

                } else if (jqXHR.status == 500) {

                    alert('Erro Interno [500]');

                } else if (textStatus === 'parsererror') {

                    alert('Error en el retorno de Datos. [parseJson]');

                } else if (textStatus === 'timeout') {

                    alert('Tiempo de Espera agotado');

                } else if (textStatus === 'abort') {
                    alert('Solicitud Abortada. [Ajax Request]');

                } else {

                    ErrorGeneral()



                }//end if 

            }//end error
        });
    }


    function getCookie(name) {

        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }

        return cookieValue;

    }

    function ErrorGeneral() {

        Swal.fire({
            "title": "Ups",
            "text": "Ha ocurrido un error.",
            "icon": "error",
        })

    }
    
</script>

{% endblock %}