{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Pedidos
{% endblock title %}



{% block content %}

{% if object_list %}
<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Pedidos</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th>Sucursal</th>
                    <th>Proveedor</th>

                </tr>
            </thead>
            <tbody>
                {% for pedido in object_list %}
                <tr>
                    <td></td>
                    <td>{{ pedido.item }}</td>
                    <td>{{ pedido.sucursal }}</td>
                    <td>{{ pedido.proveedor }}</td>
                           
                </tr>
                
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
</div>

{% else %}
<h1>La sucursal no tiene pedidos </h1>
{% endif %}
<div class="text-center">
    <a href="{% url 'proveedores:listar_proveedores' %}" class="btn btn-primary"> Volver </a>
</div>
{% endblock %}