{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Sucursales
{% endblock title %}



{% block content %}


<div class="bg-gray-100">
    <div class="card">
        <div class= "bg-gray-100 text-center">
            <a href="{% url 'sucursales:consolidado_sucursales' %}" class="btn btn-info"> Consolidado de Sucursales
            </a>
        </div>
        <div class="card-header">
            <strong class="card-title">Listado de Sucursales</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>

                    <th>#</th>
                    <th>Código</th>
                    <th>Direccion</th>

                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for sucursal in object_list %}
                <tr>
                    
                    <td>{{sucursal.id}}</td>
                    <td>{{ sucursal.codigo }}</td>
                
                    <td>{{ sucursal.calle}}, {{ sucursal.numero}}, {{ sucursal.localidad}}, {{ sucursal.provincia }}, {{ sucursal.cod_postal}}</td>
                    

                    <td>
                        <a href="{% url 'sucursales:eliminar_sucursal' sucursal.pk %}" class="btn btn-danger"> Eliminar
                        </a>


                        <a href="{% url 'sucursales:visualizar_items' sucursal.pk %}" class="btn btn-primary"> Ver Items
                        </a>
                        <a href="{% url 'sucursales:visualizar_cajas' sucursal.caja.id %}" class="btn btn-info"> Ver Cajas
                        </a>

                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h5>No hay Sucursales registradas :( </h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</div>
{

{% endblock %}