{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Listado de Cajas
{% endblock title %}



{% block content %}

{% if lista %}
<div class="bg-gray-100">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Listado de Cajas</strong>
        </div>
    </div>

    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Código de caja</th>
                    <th>Saldo disponible en pesos</th>
                    <th>Saldo disponible en dolares</th>
                    <th>Saldo disponible en euros</th>
                    <th>Ingresos en pesos</th>
                    <th>Ingresos en dolares</th>
                    <th>Ingresos en euros</th>
                    <th>Egresos</th>
                    <th>Saldo Inicial</th>
                    <th>Saldo Final</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for caja in lista %}
                <tr>
                    <td></td>
                    <td>{{ caja.caja_codigo }}</td>
                    <td>{{ caja.saldo_disponible }}</td>
                    <td>{{ caja.saldo_disponible_dolares }}</td>
                    <td>{{ caja.saldo_disponible_euros }}</td>
                    <td>{{ caja.ingresos_en_pesos }}</td>
                    <td>{{ caja.ingresos_en_dolares }}</td>
                    <td>{{ caja.ingresos_en_euros }}</td>
                    <td>{{ caja.egresos }}</td>
                    <td>{{ caja.saldo_inicial }}</td>
                    <td>{{ caja.saldo_final }}</td>
                    

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
</div>

{% else %}
<h1>La sucursal no tiene cajas (?) </h1>
{% endif %}
<div class="text-center">
    <a href="{% url 'sucursales:listar_sucursales' %}" class="btn btn-primary"> Volver </a>
</div>
{% endblock %}