{% extends 'index.html' %}
{% load widget_tweaks %}

{% block title %} Registro de Clientes {% endblock title %}


{% block content %}

<div class="card">
    <div class="card-header">
        <strong class="card-tittle">Registro de Clientes</strong>
    </div>

    <div class="card-body">
        <form class="user" method="post">
            {% csrf_token %}
            {% for field in form %}
            {{field.label_tag}}

            <div class="form-group">
                {% render_field field class="form-control form-control-user" %}

                {% endfor %}

            </div>
            
            
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            
            <div class="">
                <a href="{% url 'clientes:listar_clientes' %}" class="btn btn-danger"> Cancelar </a>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}